{% extends 'main.html' %}
{% load static %}
{% block content %}


<body>

   


    <!-- Start Breadcrumb 
    ============================================= -->
   
    <!-- End Breadcrumb -->

    <!-- Star About Area
    ============================================= -->
    <div class="about-area default-padding-top">
        <!-- Fixed Shape -->
        <div class="fixed-shape-bottom">
            <img src="{% static 'img/shape/12.png' %}" alt="Shape">
        </div>
        <!-- End Fixed Shape -->
        <div class="container">
            <div class="about-items">
                <div class="row align-center">
                    
                    <div class="col-lg-6 info">
                        <h2>
                            أكاديمية أونلاين للمراجعة عن بعد
                        </h2>
                        <h5>
                           أول أكاديمية معتمدة من وزارة الشركات الناشئة و اقتصاد المعرفة و الموقعة ب 23 سبتمبر 2021 تحتوي على دورات تدعيمية مدفوعة تم انتاجها من طرف أساتذة ذو كفاءة و خبرة في البلاد تساعد التلميذ على فهم المقرر الدراسي
                        </h5>
                        
                    </div>

                    <div class="col-lg-6 thumb">
                        <img src="{% static 'img/illustration/5.png' %}" alt="Thumb">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->

    <!-- Star Why Chose Us
    ============================================= -->
    <div class="why-choseus-area bg-gray default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h5>لماذا تختارنا</h5>
                        <h2><br> كل ماتحتاجه في دراستك</h2>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
   

  


</body>
</html>
{% endblock content %}
